<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrieren</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div style="text-align: center;">
    <button onclick="window.location.href='http://localhost:8080/login';">
        Login
    </button>
    <br><br>
    <h1>Registrieren</h1>
    <br>
    <br><br>
    <form action="https://localhost:8080/Registrieren" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required="required" pattern="[A-Za-z0-9]{1,20}"><br><br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required="required" pattern="[A-Za-z0-9]{1,20}"><br><br>
        <input type="submit" value="Registrieren">
    </form>
</div>
</body>
</html>